<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.cafebabe.usercenter.mapper.PermissionMapper">

    <resultMap id="BaseResultMap" type="xyz.cafebabe.usercenter.model.domain.Permission">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resource" column="resource" jdbcType="VARCHAR"/>
            <result property="action" column="action" jdbcType="VARCHAR"/>
            <result property="permissionKey" column="permission_key" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <select id="getPermissions" resultType="java.lang.String">
        SELECT DISTINCT
             p.permission_key
        FROM user u
             JOIN user_role ur ON u.id = ur.user_id
             JOIN role_permission rp ON ur.role_id = rp.role_id
             JOIN permission p ON rp.permission_id = p.id
        WHERE u.id = #{userId} AND u.user_status = 0
    </select>

    <sql id="Base_Column_List">
        id,resource,action,
        permission_key,description,create_time,
        update_time,is_delete
    </sql>
</mapper>
